.content{
  display: flex;
  flex-direction: column;

}

/* NAVI LEISTE */

.content-nav{
  background-color: #222831;
  padding: 50px;
}

.content-nav p {
  margin: auto;
}

.nav-link {
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration: none;
  color: #ececec;
}

.nav-link-h3 {
  color: #f2a365;
}

.link:hover {
  color: #f2a365;
}
.link {
  padding: 5px;
}
hr {
  width: 25%;
}

/* CONTENT */

.content img {
  width: 50%;
}

.content{
  padding: 50px;
}

.header {
  display:flex;
  justify-content:center;
  align-items:center;
}

.date {
  font-size: 150%;
}

.textarea {
  text-align: justify;
  font-size: 130%;
}

.button {
  text-decoration: none;
  font-size: 150%;
  padding: 15px;
  color: #f2a365;
  width: 25%;
  margin: auto;
  background-color: #f6f6f6;
  border-radius: 300px;
}

.button:hover {
  color: #222831;
}

.non-img {
  margin-bottom: 100px;
}

/* BILD */

.image {
  width: 40%;
  margin: auto;
}
img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20%;
}

/* ENTRY */

.landing {
  position: fixed; /* or absolute */
  top: 50%;
  left: 45%;
  text-decoration: none;
  color: #222831;
  font-size: 200%;
}

.landing:hover{
  color: #f2a365;
}

